@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@keyframes animatebottom {
  from {color:white;opacity: 0;}
  to {top:40%;opacity: 1;}
}
#rules{
  position:absolute;
  top:100%;
  z-index: 1;
  left:0;
  right:0;
  text-align: center;
  animation-name: animatebottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes canvasanimate{
  from {top:100%;opacity: 0;}
  to {top:0%;opacity: 1;}
}
body{
  font-family: 'Boogaloo', cursive;
  background-color:#020617;
  margin: 0;
  color: white;
}
#can{
  animation-name: canvasanimate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#ready{
  position: absolute;
  bottom: 0;
  padding: 12px 0px 12px 0px;
  background-color: #020617;
  text-align: center;
  color:#fa6705;
  width: 100%;
  box-shadow: 0px -4px 19px #020617;
  transition: font-size 0.5s;
  font-size: 16px;
}
#ring{
  height: 23px;
  margin-left: 4px;
  position: absolute;
}
.next{
  margin-top: 20px;
  background: black;
  color: lime;
  width: 65px;
  height: 20px;
  border: 1px #5cff2c solid;
  border-radius: 25px;
  cursor: pointer;
}
.next:hover{
  background: white;
  color:black;
}
#ready:hover{
  font-size: 17px;
}
#timer{
  position: absolute;
  z-index: 1;
  right:5px;
  top:5px;
  display: none;
}
